<header>
  <nav aria-label="Primary">
    <ul>
      <li><a href="/">Home</a></li>
      {% for nav in collections.primary %}
        <li {% if page.url == nav.url %}class="current"{% endif %}>
          <a href="{{ nav.url }}">{{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <h1>{{ site.name }}</h1>
</header>