---
title: Home
description: Main page for HTML elements
layout: default
---
<ul>
    {% for nav in collections.primary %}
    <li {% if page.url==nav.url %}class="current" {% endif %}>
        <a href="{{ nav.url }}">{{ nav.data.title }}</a>: {{ nav.data.description }}
    </li>
    {% endfor %}
</ul>