---
title: Simple.css
description: Periodic Table of HTML Elements
layout: base
tags: primary
date: 2023-10-27
---

{% assign list = html | map: 'category' | uniq %}
{% for item in list %}
<h2>{{item | capitalize }}</h2>
{% assign elements = html | where: "category", item | sort: 'name' %}
<ul>
{% for item in elements %}
    {% if item.simple %}
    <li><strong>{{item.name}}</strong> : {{item.description}}<br>example: <code>{{item.example | escape }}</code></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}